        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page-header">
                    Blog
                    <small>A blog for Syntax Terror</small>
							             <%= link_to "New", new_post_path, class: "btn btn-success" %>
                </h1>
                <% @posts.each do |post| %>
                  <!-- First Blog Post -->
                  <h2>
                      <%= link_to post.title, post %>
                  </h2>
                  <p class="lead">
                      by <%= link_to post.user, post.user %>
                  </p>
                  <p class="lead">Categories: <%= raw post.categories.map(&:name).map { |t| link_to t, category_path(t) }.join(', ') %></p>
                  <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
                  <hr>
                  <p><%= post.content[0..99].html_safe + "..." %></p>
                  <%= link_to 'Read More <span class="glyphicon glyphicon-chevron-right"></span>'.html_safe, post, class: 'btn btn-primary' %>
                  <hr>
                <% end %>
                <!-- Pager -->
                <ul class="pager">
						<%= paginate @posts %>
                </ul>
            </div>
<%= render "layouts/aside" %>
        </div>
        <!-- /.row -->
